* {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    max-width: 100vw;
    margin: 0;
    color: var(--primary-1);
    background-color: var(--primary-background);
}

button {
    cursor: pointer;
    border: 2px solid;
    border-right-color: black;
    border-bottom-color: black;
    border-top-color: rgb(66, 66, 66);
    border-left-color: rgb(66, 66, 66);
    border-radius: 10px;

    font-size: 2em;
    background-color: transparent;
}


input {
    font-size: 0.6em;
}

.fa-solid{
    font-size: 1.5em;
}

i {
    font-size: 1.5em;
}

.btn-clicked {
    display: none;
}

.hidden {
    display: none;
}