* {
    box-sizing: border-box;
}

body {
    min-height: 100%;

    width: 100%;
    margin: 0;

    color: var(--primary-1);
    background-color: var(--primary-background);
}


input {
    font-size: 0.6em;
}

.fa-solid{
    font-size: 1.5em;
}

i {
    font-size: 1.5em;
}

.hidden {
    display: none;
}