h2{
    text-align: center;
}

.gallery-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.gallery-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
    margin: 1em;
background-color: blue;
font-size: 1.5em;
}





.close {
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    color:aliceblue;
}

.gallery-dialog{
    background-color: rgba(9, 126, 228, 0.938);
}

.select-img-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(150px, 200px));
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    margin-inline: 2em;
    padding: 2em;
}

.select-img-container img {
    cursor: pointer;
    filter: grayscale(.7);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.select-img-container img:hover {
    transition: 1s;
    filter: unset;
}


