
body {
    display: grid;
    grid-template-rows: auto auto 1fr auto; /* Header, Main content, Footer */
    min-height: 100vh; /* Ensure the body covers the entire viewport height */
}

header {
    grid-row: 1; /* Place header in first row */
}

main {
    grid-row: 3; /* Place main content in second row */
}

.canvas-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr minmax(1fr, 2fr) 1fr;
    gap: 1em;
}

.font-settings{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.font-family, .size {
    grid-column: span 3; /* Span 3 columns */
}

footer {
    grid-row: 4; /* Place footer in third row */

}