.canvas-container {
    align-items: center;
    max-width: 400px;

    margin: 10px auto;

    background-color: var(--primary-background);
    border: 1px solid lightgray;
}

canvas {
    display: block;
    margin: 0 auto;
}

.canvas-container section {
    justify-content: center;
}

.tool-bar {
    flex-direction: column;
    justify-content: center;
    gap: 1em;

    max-width: 400px;
    padding-block: 1em;
}

button,
i,
.font-settings>*,
.font-size>* {
    cursor: pointer;
}


[name="userTxt"], .share-btn {
    text-align: center;
    max-width: 90%;

    padding: 0.5em;
    border-radius: 20px;

    font-size: 1.3em;
    background-color: blue;
    color: aliceblue;
}

.share-btn  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.4em;
padding: 0.5em;
}

input::placeholder {
    color: aliceblue;
    opacity: 0.5;
}

.canvas-container .lines>* {
    border: none;
    background-color: transparent;
    box-shadow: 0 0 0 0;
}

.lines .add-line {
    font-size: 3em;
    color: rgb(32, 231, 62)
}

.lines .switch-line {
    rotate: 90deg;
    font-size: 2.3em;
    color: rgb(231, 214, 32);
}

.lines .delete-line {
    color: red;
    font-size: 2.3em;
}

.font-settings {
    gap: 1em;

    text-align: center;
    max-width: 400px;

    padding: 2em;
    border-radius: 20px;

    font-size: 1.3em;
    background-color: blue;
}

.font-settings button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    font-size: 0.9em;
    background-color: transparent;
}

.font-settings> button, select {
    border: 2px solid;
    border-right-color: black;
    border-bottom-color: black;
    border-top-color: rgb(66, 66, 66);
    border-left-color: rgb(66, 66, 66);
}

.font-settings button>* {
    color: black;
}

.font-family,
.size {
    border-radius: 10px;
    font-size: 1.2em;
    background-color: transparent;
    text-align: center;
}

.font-settings .fa-plus,
.font-settings .fa-minus {
    justify-content: center;
    
    font-size: 1em;
}

.export-import {
    gap:0.7em;
}

.export-import a>* {
    font-size: 3.5em;
}