.canvas-container {
    justify-content: center;
    gap: 1em;

    width: 60vw;
    padding: 1em;
    margin: 10px auto;

    background-color: var(--primary-background);
    border: 1px solid lightgray;
}

canvas {
    display: block;
    background-color: white;
}

.canvas-container input {
    text-align: center;

    padding: 0.4em;
    border-radius: 20px;

    background-color: var(--primary-2);
}

