
.canvas-container {
    width: 80vw;
    background-color: lightsteelblue;
    border: 1px solid lightgray;
    margin: 10px auto;
}

canvas {
    display: block;
    background-color: white;
}

.select-img-container {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.select-img-container img{
    width: 150px;
    cursor: pointer;
    filter: grayscale(.7);
}

.select-img-container img:hover{
    transition: 1s;
    filter: unset;
}