


@media (max-width: 920px) {
    .canvas-container {
        grid-auto-flow: row;
        justify-content: center;
        align-items: center;
        max-width: 80vw;
    }

    canvas {
        max-width: 100%;
    }

    .font-settings .font-size {
        flex-direction: column;
        gap: 0.5em;
    }

    .select-img-container {
        grid-template-columns: repeat(5, minmax(150px, 200px));

    }
}

@media (max-width: 800px) {
    .select-img-container {
        grid-template-columns: repeat(4, 150px);
    }
}


@media (max-width: 600px) {
    .main-header .logo {
        font-size: 2em;
    }

    .main-nav {
        position: fixed;
        top: 1em;
        right: 5px;
        background-color: var(--secondary-background);
        border-inline-start: 1px solid #22168d;
        transform: translateY(-110%);
        transition: transform 0.6s, box-shadow 0.6s;
        z-index: 999;
    }

    .toggle-menu-btn {
        display: block;
    }

    body.menu-open .main-nav {
        box-shadow: -6px 0px 20px rgb(0 0 0 / 25%);
        transform: translateX(0);
    }

    .main-nav .main-nav-list {
        flex-direction: column;
    }


    .main-nav .main-nav-list li {
        display: block;
        width: 100%;
        padding: 8px 10px;
    }

    .main-nav .main-nav-list a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-nav .main-nav-list a.active {
        box-shadow: none;
        font-weight: bold;

        background-color: var(--hover-color);
    }

    .main-nav .main-nav-list li:hover {
        background-color: var(--primary-background);
    }

    .main-nav .main-nav-list a:hover {
        color: var(--primary-1);
    }

    .canvas-container {
        width: 100%;
        grid-auto-flow: row;
        justify-content: center;
        align-items: center;
        max-width: 80vw;
        gap: 0;
    }

    .font-settings {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    .font-settings .increase,
    .font-settings .decrease,
    .font-settings .align-right,
    .font-settings .align-left {
        font-size: 0.8em;
    }

    .font-family,
    .size {
        grid-column: span 2;
        font-size: 0.9em;
    }

    .fa-paintbrush,
    .fa-brush {
        font-size: 1.2em;
    }

    .fa-download {
        font-size: 2.5em;
    }

    /*gallery*/
    .select-img-container {
        grid-template-columns: repeat(3, 150px);
    }

}

/* MOBILE  */
@media (max-width: 400px) {
    .select-img-container {
        grid-template-columns: repeat(2, minmax(150px, 200px));

    }
}

@media (max-width: 300px) {
    .select-img-container {
        grid-template-columns: repeat(1, minmax(150px, 200px));

    }
}

@media (min-width:601px) {
    .toggle-menu-btn {
        display: none;
    }
}

@media (min-width:920px) {
    .canvas-container {
        max-width: 90vw;
    }
}